<ion-content [fullscreen]="true">
  <div class="contenedor">
    <div class="logo">
      <!-- Debo poner un icono si es necesario -->
    </div>

    <div class="iniciar_sesion">
      <div class="titulo">
        Recuperar Contraseña
      </div>

      <div class="registros">
        <ion-input
          [(ngModel)]="email"
          fill="outline"
          label="Correo Electrónico"
          labelPlacement="floating"
          [clearInput]="true"
          placeholder="Ingrese su Correo Electrónico"
          (blur)="animarError('emailInput')"
          id="emailInput">
        </ion-input>

        <ion-input
          [(ngModel)]="nombre"
          fill="outline"
          label="Nombre de Usuario"
          labelPlacement="floating"
          [clearInput]="true"
          placeholder="Ingrese su Nombre de Usuario"
          (blur)="animarError('nombreInput')"
          id="nombreInput">
        </ion-input>

        <ion-input
          [(ngModel)]="clave"
          fill="outline"
          label="Nueva Contraseña"
          labelPlacement="floating"
          [clearInput]="true"
          placeholder="Ingrese la Nueva Contraseña"
          type="password"
          (blur)="animarError('claveInput')"
          id="claveInput">
        </ion-input>
      </div>

      <!-- Botón para recuperar la contraseña -->
      <ion-button (click)="recuperarPassword()">
        Enviar Recuperación
      </ion-button>

      <!-- Botón para salir a login -->
      <ion-button (click)="salir()">
        Salir
      </ion-button>

      
    </div>
  </div>
</ion-content>
