<ion-content [fullscreen]="true">
  <div class="historial-contenedor">
    <div class="titulo">
      <h1>Actividad</h1>
    </div>

    <div class="historial" *ngIf="historial.length > 0; else noHistorial">
      <!-- Iterar sobre el historial -->
      <div *ngFor="let viaje of historial" class="historial-elemento">
        <ion-icon class="vehiculo" src="assets/icon/vehiculo-viajes.svg"></ion-icon>

        <div class="historial-informacion">
          <p><strong>Destino:</strong> {{ viaje.end }}</p> <!-- Destino -->
          <p><strong>Fecha y hora:</strong> {{ viaje.fecha }}</p> <!-- Fecha y hora -->
          <p><strong>Precio:</strong> ${{ formatoPrecio(viaje.precio) }}</p> <!-- Precio formateado -->
          <p><strong>Distancia:</strong> {{ viaje.distancia }} </p> <!-- Distancia -->
        </div>

        
      </div>
    </div>

    <ng-template #noHistorial>
      <p>No hay historial de viajes.</p>
    </ng-template>

  </div>
</ion-content>
