<ion-content scroll="false" [fullscreen]="true">
  <div class="contenedor">
    <div class="logo">
      <!-- Debo poner un icono si es necesario -->
    </div>

    <div class="iniciar_sesion">
      <div class="titulo">
        Iniciar sesión
      </div>

      <div class="registros">
        <ion-input
          [(ngModel)]="usuario"
          fill="outline"
          label="Usuario"
          labelPlacement="floating"
          [clearInput]="true"
          placeholder="Ingrese su Usuario"
          (blur)="animarError('usuarioInput')"
          id="usuarioInput">
        </ion-input>

        <ion-input
          [(ngModel)]="password"
          fill="outline"
          label="Contraseña"
          labelPlacement="floating"
          [clearInput]="true"
          placeholder="Ingrese su Contraseña"
          (blur)="animarError('passwordInput')"
          id="passwordInput">
        </ion-input>
      </div>

      <ion-button class="CC" fill="clear" (click)="registro_usuario()">
        ¿No tienes una cuenta?
      </ion-button>

      <ion-button (click)="login()">
        Ingresar
      </ion-button>

      <!-- Mostrar el botón de "Recuperar contraseña" después de 3 intentos -->
      <ion-button fill="clear" *ngIf="mostrarRecuperar" (click)="irRecuperarContrasena()">
        Recuperar Contraseña
      </ion-button>
    </div>
  </div>
</ion-content>
