<ion-content [fullscreen]="true">
  <div class="contenedor">
    <div class="logo">
      <!-- Debo poner un icono si es necesario -->
    </div>

    <div class="iniciar_sesion">
      <div class="titulo">
        Iniciar sesión
      </div>

      <div class="registros">
        <ion-input
          
          fill="outline"
          label="Usuario"
          labelPlacement="floating"
          [clearInput]="true"
          placeholder="Ingrese su Usuario"
          id="usuarioInput" > <!-- (blur)="animarError('usuarioInput')" --> <!-- [(ngModel)]="usuario" -->
        </ion-input>

        <ion-input
          
          fill="outline"
          label="Contraseña"
          labelPlacement="floating"
          [clearInput]="true"
          placeholder="Ingrese su Contraseña"
          id="passwordInput" > <!-- (blur)="animarError('passwordInput')" -->  <!-- [(ngModel)]="password" -->
        </ion-input>
      </div>

      <ion-button  class="CC" fill="clear">
        ¿No tienes una cuenta?
      </ion-button> <!-- (click)="irRegistro()" -->

      <ion-button > <!-- (click)="ingresar()" -->
        Ingresar
      </ion-button>

      <!-- Mostrar el botón de "Recuperar contraseña" después de 3 intentos -->
      <ion-button  fill="clear">
        Recuperar Contraseña
       </ion-button>
    </div> <!--*ngIf="mostrarRecuperar" (click)="irRecuperarContrasena()" -->
  </div>
</ion-content>
