<ion-content [fullscreen]="true">
  <div class="contenedor">

    <div class="inf-usuario">
      <h1>{{ nombre }}</h1> <!-- Aquí se muestra el nombre del usuario -->
      <ion-icon class="usuario-img" src="assets/icon/usuario-img.svg" (click)="navegarAjustes()"></ion-icon>
    </div>

    <div class="opciones-usuario">
      <div class="opciones-elementos ayuda">
        <ion-icon class="icono-opciones" src="assets/icon/salvavidas.svg"></ion-icon>
        <h2>Ayuda</h2>
      </div>
      <div class="opciones-elementos pago">
        <ion-icon class="icono-opciones" (click)="registrarTarjeta()" src="assets/icon/TARJETA2.svg"></ion-icon>
        <h2>Pago</h2>
      </div>
      <div class="opciones-elementos actividad">
        <ion-icon class="icono-opciones" (click)="irHistorial()" src="assets/icon/portapapeles.svg"></ion-icon>
        <h2>Actividad</h2>
      </div>
    </div>

    <div class="inf-adicional">
      <div class="inf-elemento" (click)="activarCupon()">
        <div class="texto-inf">
          <h2>Uber Duoc</h2>
          <p>Pruébalo, 3 viajes sin costo</p>
        </div>
        <div class="icono-inf">
          <ion-icon src="assets/icon/dolar.svg"></ion-icon>
        </div>
      </div>
    </div>

    <div class="ajustes">
      <div class="ajustes-elementos">
        <ion-button (click)="navegarAjustes()">Ajustes</ion-button>
      </div>
    </div>

  </div>
</ion-content>