ion-button[fill="clear"] {
    --background: transparent;
    --color: var(--color-letras-iconos); /* Color del texto */
    font-size: 16px;
    padding-left: 0; /* Eliminar padding extra para que la flecha esté alineada */
  }
  
  ion-icon {
    font-size: 24px; /* Tamaño del icono de la flecha */
    color: var(--color-letras-iconos); /* Color del icono de la flecha */
    margin-right: 8px; /* Espacio entre el icono y el texto */
  }
  
  ion-button[fill="clear"]:hover ion-icon {
    color: #0056b3; /* Cambio de color del icono en hover */
  }
  